<!DOCTYPE html>
<html lang="es-mx">
    
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login SIRE</title>
    <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface&amp;display=swap">
    <link rel="stylesheet" href="./assets/css/styles.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<% if (email != '') { %>
    <button class="btn btn-outline-secondary btn-lg" type="button"><a href="/empleados/dashboard">Volver a Dashboard</a></button>
    <button class="btn btn-outline-secondary btn-lg" type="button"><%= email %></button>
    <button class="btn btn-outline-secondary btn-lg" type="button"><a href="/empleados/logout">Salir</a></button>
<% } %>

</head>
