<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" href="/css/sidebar.css" />
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/buttons.css" />
<link rel="stylesheet" href="/css/section.css" />

<%- include('templates/sidebar.ejs') %>
<body style="background: url('/img/bg-sire.png');">
    <div class="main">
        <section class="section-card">
            <h1 id="principal">Mis evaluaciones: </h1>
            <hr class="db-hr">

                    <% for (let cuestionario of cuestionarios) { %>
                        <div class = "row">
                            <div class="card mb-3" style="max-width: 540px;">
                                <div class="row g-0">
                                
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">Persona a evaluar: <%- cuestionario.idEvaluado %></h5>
                                            <p class="card-text">Nivel del evaluado: <%- cuestionario.nivelEvaluado.toFixed(1) %></p>
                                            <% if (cuestionario.isAnswered == 0){ %>
                                                <p class="card-text">Status de evaluación: Sin Contestar</p>
                                                <a href="/empleados/feedback=<%-cuestionario.idCuestionario-%>"><label class="btn btn-dark">Contestar</label></a>
                                            <% } else { %>
                                                <p class="card-text">Status de evaluación: Contestada</p>
                                                <label class="btn btn-dark" disabled>Contestar</label>
                                            <%} %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <%} %>
            <hr class="db-hr">
            <br><br>
        </section>
</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>