<%- include('templates/head.ejs') %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!-- Para las rutas -->
<h1 id="principal">Dashboard SIRE</p>
    <br>
    <p>Empleados:</p>
    <a href="/empleados"><button type="button" class="btn btn-outline-secondary">Empleados</button></a>
    <br><br>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>