<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" href="/css/sidebar.css" />
<link rel="stylesheet" href="/css/section.css" />
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
<!-- Para las rutas style="background: var(--bs-light);filter: blur(0px);--bs-body-bg: #fff;border-style: double;" -->

<body style="background: url('/img/bg-sire.png');">
<%- include('templates/sidebar.ejs') %>
<div class="main">
<section class="section-card">
<h1 id="principal">Dashboard SIRE</p>
    <p>Empleados:</p>
    <a href="/empleados/lista"><button type="button" class="btn btn-outline-secondary">Empleados</button></a>
    <br><br>
</section>
</div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>