<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" href="/css/sidebar.css" />
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/buttons.css" />
<link rel="stylesheet" href="/css/section.css" />

<%- include('templates/sidebar.ejs') %>

<body style="background: url('/img/bg-sire.png');">
    <div class="main">
        <section class="section-card">
            <h1 id="principal">Lista de Templates</h1>
            <hr class="db-hr">
            <table class="default" class="centered">
                    <tr>
                        <th>Nombre del Template</th>
                    </tr>
                    <% for (let template of templates) { %>
                        <tr>
                            <td ><%- template.NombreTemplate -%></td>
                            <td><a href = "/empleados/id-template=<%-template.idTemplate-%>" class = "btn btn-outline-secondary">Editar</a></td>
                        </tr>
                    <%} %>
            </table>
            <hr class="db-hr">
            <a href="/empleados/nuevaTemplate"><button type="button" class="btn btn-outline-secondary">Registrar una nueva Template</button></a>
        </section>
    </div>
    <br>