<link rel="stylesheet" href="/css/styles.min.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface&amp;display=swap" />
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />

<body>
<section class="login-dark" style="background: url('/img/abstract.jpg');">
    <form method="post" style="background: var(--bs-light);filter: blur(0px);--bs-body-bg: #fff;border-style: double;">
        <h2 class="visually-hidden">Login Form</h2>
        <div class="illustration"><img class="img-fluid" src="/img/zebrands.png" width="250">
            <p style="font-size: 20px;color: var(--bs-gray-dark);font-family: 'Abril Fatface', serif;">SIRE</p>
        </div>
        <div class="mb-3">
            <input class="form-control" type="email" id="email" name="email" placeholder="Correo" required="" style="color: rgb(0,0,0);"></div>
        <div class="mb-3"><input class="form-control" type="password" id="password" name="password" placeholder="Contraseña" required="" style="color: rgb(0,0,0);"></div>
        <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit" style="border-style: initial;">Iniciar Sesión</button></div><a class="forgot" href="#">¿Olvido su correo o contraseña?</a>
    </form>
</section>
<script src="/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>