<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" href="/css/sidebar.css" />
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/buttons.css" />

<%- include('templates/sidebar.ejs') %>

<body style="background: url('/img/bg-sire.png');">
<section class="main" style="background: var(--bs-light);filter: blur(0px);--bs-body-bg: #fff;border-style: double;">

    <h1 id="principal">Periodos de Evaluación</h1>
    <h2>Agregar un nuevo periodo de evaluación:</h2>
    <br>

    <form action="/empleados/nuevoPeriodo" method="POST">
        <label for="FechaInicio">Fecha de Inicio: </label>
        <input type="date" id="FechaInicio" name="FechaInicio" required="" >
        <br><br>

        <label for="FechaFin">Fecha Fin: </label>
        <input type="date" id="FechaFin" name="FechaFin" required="" oninput="validate()">
        <div id="same"></div>
        <br><br>
        <input type="submit" value="Enviar" onclick="good()">
    </form>
</section>
<script src="/javascript/Alerts.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
</body>