<%- include('templates/sidebarMain.ejs') %>
<% if (rol == 2) { %>
    <%- include('templates/sidebarPanelLead.ejs') %>
<% } %>
<%- include('templates/sidebarEnd.ejs') %>


<link rel="stylesheet" href="/css/sidebar.css" />
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/buttons.css" />
<link rel="stylesheet" href="/css/section.css" />

    <div>
    <section  class="section-card" >
    <h1 id="principal">Empleados</h1>
    <h2>Agregar un nuevo Empleado:</h2>
    <br>

    <form action="/nuevoEmpleado" method="POST">
        <div class="form-group">
            <label for="fechaIng">Fecha de ingreso: </label>
            <input class="form-control" type="date" id="fechaIng" name="fechaIng" >
            <br>
        </div>
        <!-- Para los datos personales -->
        <div class="form-group">
            <label for="nombre">Nombre: </label>
            <input class="form-control" type="text" id="nombre" name="nombre" >
            <br><br>
            <label for="apellidoP">Apellido Paterno: </label>
            <input class="form-control" type="text" id="apellidoP" name="apellidoP" >
            <br>
            <label for="apellidoM">Apellido Materno: </label>
            <input class="form-control" type="text" id="apellidoM" name="apellidoM" >
            <br>
        </div>
        <!-- TEMPORAL -->
        <label for="antiguedad">Antiguedad: </label>
        <input type="number" min="0" id="antiguedad" name="antiguedad" >
        <br><br>

        <!-- Para los datos empresariales (falta hacer el c치lculo, por ahora es manual) -->
        <div class="form-group">
            <label for="nivPeople">Nivel People: </label>
            <select name="nivPeople" id="nivPeople" class="form-select form-control" onchange="calcNivOv()">
                <option value="1.1">1.1</option>
                <option value="1.2">1.2</option>
                <option value="1.3">1.3</option>
                <option value="2.1">2.1</option>
                <option value="2.2">2.2</option>
                <option value="2.3">2.3</option>
                <option value="3.1">3.1</option>
                <option value="3.2">3.1</option>
                <option value="3.3">3.1</option>
                <option value="4.1">4.1</option>
                <option value="4.2">4.2</option>
                <option value="4.3">4.3</option>
                <option value="5.1">5.1</option>
                <option value="5.2">5.2</option>
                <option value="5.3">5.3</option>
            </select>
            <br><br>
            <label for="nivCraft">Nivel Craft: </label>
            <select name="nivCraft" id="nivCraft" class="form-select form-control" onchange="calcNivOv()">
                <option value="1.1">1.1</option>
                <option value="1.2">1.2</option>
                <option value="1.3">1.3</option>
                <option value="2.1">2.1</option>
                <option value="2.2">2.2</option>
                <option value="2.3">2.3</option>
                <option value="3.1">3.1</option>
                <option value="3.2">3.2</option>
                <option value="3.3">3.3</option>
                <option value="4.1">4.1</option>
                <option value="4.2">4.2</option>
                <option value="4.3">4.3</option>
                <option value="5.1">5.1</option>
                <option value="5.2">5.2</option>
                <option value="5.3">5.3</option>
            </select>
            <br><br>
            <label for="nivBusiness">Nivel Business: </label>
            <select name="nivBusiness" id="nivBusiness" class="form-select form-control" onchange="calcNivOv()">
                <option value="1.1">1.1</option>
                <option value="1.2">1.2</option>
                <option value="1.3">1.3</option>
                <option value="2.1">2.1</option>
                <option value="2.2">2.2</option>
                <option value="2.3">2.3</option>
                <option value="3.1">3.1</option>
                <option value="3.2">3.1</option>
                <option value="3.3">3.1</option>
                <option value="4.1">4.1</option>
                <option value="4.2">4.2</option>
                <option value="4.3">4.3</option>
                <option value="5.1">5.1</option>
                <option value="5.2">5.2</option>
                <option value="5.3">5.3</option>
            </select>
            <br><br>

            <!-- TEMPORAL -->
            <label for="nivOverall">Nivel Overall: </label>
            <input class="form-control" name="nivOverall" id="nivOverall" readonly>
            <br><br>
        </div>
        <label for="puesto">Puesto: </label>
        <input type="text" id="puesto" name="puesto" >
        <br><br>
        <label for="equipo">Equipo: </label>
        <input type="text" id="equipo" name="equipo" >
        <br><br>
        <label for="email">Correo electr칩nico: </label>
        <input type="email" id="email" name="email" >
        <br><br>
        <label for="fk_idChapter">Chapter: </label>
        <select name="fk_idChapter" id="fk_idChapter" class="form-select">
            <option value="1">IT</option>
        </select>
        <br><br>
        <label for="fk_idRolJer">Rol Jer치rquico: </label>
        <select name="fk_idRolJer" id="fk_idRolJer" class="form-select">
            <option value="1">Member</option>
            <option value="2">Chapter Lead Assistant</option>
            <option value="3">Chapter Leader</option>
        </select>
        <br><br>
        <label for="password">Contrase침a: </label>
        <input type="password" id="password" name="password" >
        <br><br>

        <!-- TEMPORAL -->
        <label for="isActive">Status: </label>
        <select name="isActive" id="isActive" class="form-select">
            <option value="1">Activo</option>
            <option value="2">Inactivo</option>
        </select>
        <br><br>

        <input type="submit" value="Enviar" onclick="good()">
    </form>
    <br><br>
<<<<<<< HEAD
    <a href="/empleados/lista"><button type="button" class="btn btn-secondary">Regresar al listado de empleados</button></a>
<<<<<<< HEAD
=======
    <a href="/lista"><button type="button" class="btn btn-secondary">Regresar al listado de empleados</button></a>
>>>>>>> 9959fb5536b5304e5b6cb85e7de2df0b84866d9a
    </section>
</div>

<<<<<<< HEAD
=======
</section>
<script src="/javascript/Alerts.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
>>>>>>> 839310d2b006207e79bafffdb7d65a673d4facfa
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
=======
<%- include('templates/footer.ejs') %>

<script>
function calcNivOv() {
    var nP =document.getElementById("nivPeople").value;
    var nB =document.getElementById("nivBusiness").value;
    var nC =document.getElementById("nivCraft").value;
    var res = Math.min(nB+1, nC, nP+1);
    document.getElementById("nivOverall").innerHTML = res.toFixed(1);
    document.getElementById("nivOverall").value = res.toFixed(1);
}

window.onload = function() {
    calcNivOv();
}
</script>
>>>>>>> 9959fb5536b5304e5b6cb85e7de2df0b84866d9a
