<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" href="/css/sidebar.css" />
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/buttons.css" />

<%- include('templates/sidebar.ejs') %>

<body style="background: url('/img/bg-sire.png');">
<section class="main" style="background: var(--bs-light);filter: blur(0px);--bs-body-bg: #fff;border-style: double;">
    <form action="/empleados/nuevoMentee" method="POST">

        <label for="fk_idLead">ID de Chapter Leader: </label>
        <input type="text" id="fk_idLead" name="fk_idLead" >
        <br><br>

        <label for="idMentee">ID del Mentee asignado: </label>
        <input type="text" id="idMentee" name="idMentee" >
        <br><br>

        <label for="descAsignacion">Descripción de la asignación: </label>
        <input type="text" id="descAsignacion" name="descAsignacion" >
        <br><br>

        <input type="submit" value="Enviar" onclick="good()">

    </form>
</section>
<script src="/javascript/Alerts.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
</body>