<link rel="stylesheet" href="/css/buttons.css" />
<link rel="stylesheet" href="/css/sidebar.css" />

<ul id="slide-out" class="sidenav sidenav-fixed">
  <li>
    <div>
      <img src="/img/logo-sire.png" width="245px">
    </div>
</li>
<br>
    <li><label class="label-sidebar">Bienvenido a SIRE, <%- email -%></label>
    <hr>
    <li><button class="btn-sidebar" type="button"><a href="/empleados/dashboard">Inicio</a></button>
    <li><button class="btn-sidebar" type="button"><a href="/empleados/lista">Evaluaciones</a></button>
    <li><button class="btn-sidebar" type="button"><a href="/empleados/nuevoMentee">Mentees</a></button>
    <li><button class="btn-sidebar" type="button"><a href="/empleados/lista">Mis Observaciones</a></button>
    <li><button class="btn-sidebar" type="button"><a href="/empleados/periodos">Periodos de Evaluación</a></button>
    <hr>
    <li><button class="btn-sidebar" type="button"><a href="/empleados/lista">Empleados</a></button>
    <li><button class="btn-sidebar" type="button"><a href="/empleados/templates">Plantillas</a></button>
    <li><button class="btn-sidebar" type="button"><a href="/empleados/logout">Salir</a></button>
</ul>
<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>