<hr>
<a href="/empleados/logout" class="d-flex align-items-center pb-2 mb-md-0 me-md-auto text-white text-decoration-none">
    <span class="fs-6 d-none d-sm-inline"><i class="bi bi-door-open"></i> Log Out</span>
</a>
<br>

</div>
</div>
<div class="col py-3" style="background: url('/img/bg-sire.png'); background-attachment: fixed;
background-size: 100% 100%;">