<hr>
<a href="/lista" class="d-flex align-items-center pb-2 mb-md-0 me-md-auto text-white text-decoration-none">
    <span class="fs-6 d-none d-sm-inline"><i class="bi bi-people"></i> Empleados</span>
</a>
<br>

<a href="/templates/listaTemplates" class="d-flex align-items-center pb-2 mb-md-0 me-md-auto text-white text-decoration-none">
    <i class="fs-6 d-none d-sm-inline"></i> <span class="fs-6 d-none d-sm-inline"><i class="bi bi-clipboard2-check"></i> Plantillas de
        Evaluación</span>
</a>
<br>

<a href="/periodos" class="d-flex align-items-center pb-2 mb-md-0 me-md-auto text-white text-decoration-none">
    <span class="fs-6 d-none d-sm-inline"><i class="bi bi-calendar-date"></i> Periodos de Evaluación</span>
</a>
<br>

<a href="/mentees/panelMentees" class="d-flex align-items-center pb-2 mb-md-0 me-md-auto text-white text-decoration-none">
    <span class="fs-6 d-none d-sm-inline"><i class="bi bi-person-plus"></i> Panel Mentees</span>
</a>
<br>

<a href="/mentees/misMentorados" class="d-flex align-items-center pb-2 mb-md-0 me-md-auto text-white text-decoration-none">
    <span class="fs-6 d-none d-sm-inline"><i class="bi bi-pencil-square"></i> Mis Mentorados</span>
</a>
<br>