.btn-sidebar {
    background-color: transparent;
    background-repeat: no-repeat;
    color: #fff;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-family: Helvetica, "Helvetica Neue", Arial, sans-serif; font-size: 15px;
}

.label-sidebar {
    color: #fff;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    padding: 6px 8px 6px 16px;
    display: block;
    font-family: Helvetica, "Helvetica Neue", Arial, sans-serif; font-size: 15px;
}